html, body {
  height: 100%;
  background: rgb(230, 204, 237);
  font-family: monospace;
  font-size: 20px;
  margin: 30px auto;
  }
  
 #forma{	
    margin: 30px 400px 30px 400px;
    background-color: white;
    border: 2px solid;
  }
  #form{
    padding: 2vw;
    padding-bottom: 0;
  }

  .group{
    padding-bottom: 20px;
  }

  #end{
    margin-top: 30px;
    marhin-botton:30px;
    position: relative;
    bottom:0;
  }
