html, body {
  height: 100vh;
  background: rgb(230, 204, 237);
  font-family: monospace;
  font-size: 20px;
  margin: 30px auto;
  }
  
 #forma{
	
    margin: 30px auto;
    background-color: white;
    border: 2px solid;
  }
  #form{
    padding: 2vw;
    padding-bottom: 0;
  }

  .group{
    padding-bottom: 10px;
  }
#end {
  padding: 15px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
