html, body {
  height: 100%;
  background: rgb(230, 204, 237);
  font-size: 20px;
  }
  
  #forma {
    margin: 30px 400px 30px 400px;
    background-color: white;
    border: 1px solid;
    padding: 1vw;
    border-radius: 25px;
  } 
  #form {
    padding: 2vw;
  }
  #end {
    margin-top: 30px;
    position: relative;
    bottom:0;
  }
