html, body {
  height: 100vh;
  background: rgb(230, 204, 237);
  font-family: monospace;
  font-size: 20px;
  margin: 30px auto;
  }
  
  #form{
	
    margin: 30px auto;
    background-color: white;
    border: 2px solid;
  }

  .group{
    padding-bottom: 10px;
  }
  #end{
    margin-top: 30px;
    position: relative;
    bottom:0;
  }
